.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    height: 2.2rem;
    padding: 0 0.8rem;

    border: 1px solid rgba(#111, 0.25);
    border-radius: 0.5rem;

    font-size: 1rem;
  }
}
