* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f2f3;
}

body,
input,
select,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
