* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-50: #f4f2f3;
  --gray-100: #d2d2d2;
  --gray-500: #333;
  --black-600: #001011;
  --black-700: #000;
  --yellow-700: #ffc400;
  --green-400: #33cc95;
  --red-400: #e52e54;
  --white: #fff;
}

body {
  background: var(--gray-50);
}

body,
input,
select,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;

  background: var(--white);
  padding: 1.3rem;
  border-radius: 0.25rem;

  position: relative;

  @media (min-width: 768px) {
    padding: 3rem;
  }
}

.react-modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  border: 0;

  background: transparent;
  transition: filter 0.2s;

  svg {
    font-size: 1rem;
  }

  &:hover {
    filter: brightness(0.8);
  }
}
