.container {
  margin: 2rem auto;

  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 16rem);
}

.containerProducts {
  display: grid;
  justify-items: center;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
