.container {
  margin: 1rem auto;

  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 16rem);

  .navigation {
    max-width: 70%;
    margin: 5rem auto;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
