.container {
  background: var(--black-600);
  padding: 1.5rem;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  height: 12rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .buttonAddNewMaterial {
    border: 0;
    border-radius: 0.25rem;

    padding: 0 0.8rem;
    height: 2.5rem;

    background: rgba(#ffc400, 0.85);
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(0.8);
    }

    @media (min-width: 768px) {
      font-size: 0.9rem;
    }
  }
}
